.example-slide1 {
	background: rgba(179,220,237,1);
	background: -moz-linear-gradient(-45deg, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(188,224,238,1)));
	background: -webkit-linear-gradient(-45deg, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
	background: linear-gradient(135deg, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1 );

	text-align: center;
	vertical-align: middle;
	line-height: 90px;
}
.example-slide2 {
	background: rgba(248,80,50,1);
	background: -moz-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 22%, rgba(246,41,12,1) 72%, rgba(240,47,23,1) 81%, rgba(231,56,39,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(22%, rgba(241,111,92,1)), color-stop(72%, rgba(246,41,12,1)), color-stop(81%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
	background: -webkit-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 22%, rgba(246,41,12,1) 72%, rgba(240,47,23,1) 81%, rgba(231,56,39,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 22%, rgba(246,41,12,1) 72%, rgba(240,47,23,1) 81%, rgba(231,56,39,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 22%, rgba(246,41,12,1) 72%, rgba(240,47,23,1) 81%, rgba(231,56,39,1) 100%);
	background: linear-gradient(135deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 22%, rgba(246,41,12,1) 72%, rgba(240,47,23,1) 81%, rgba(231,56,39,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );

	text-align: center;
	vertical-align: middle;
	line-height: 90px;
}
